* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

.home {
    background: url("../../assets/images/v1016-c-08_1-ksh6mza3.jpg");
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    height: auto;
}

.homePage .Msg h1 {
    display: flex;
    justify-content: center;
    padding: 12rem;
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

.home .homePage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}



.homePage .post {
    width: 600px;
    height: auto;
    max-height: 600px;
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;

}

.post .postHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;

}

.postHeader .title {
    text-decoration: underline;
}

.post .postTextContainer {
    word-wrap: break-word;
    height: auto;
    max-height: 400px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    text-align: center;
}