.postPage {
    background-image: url("../../assets/images/blue.avif");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.postPage .usersPosts {
    width: 100%;
    max-height: calc(100vh - 80px);
    height: calc(100vh-80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    overflow: scroll;
}


.postPage .post {
    width: 600px;
    height: auto;
    max-height: 600px;
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;


}

.post .postHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;

}

.postHeader .title {
    text-decoration: underline;
}

.post .postTextContainer {
    word-wrap: break-word;
    height: auto;
    max-height: 400px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    text-align: center;
}

.usersPosts .titlendelete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.usersPosts .deletePost {
    position: absolute;
    right: 0;
    top: 0.5rem;
    left: 15rem;
}

.deletePost .delete {
    font-size: 1.2rem;
    cursor: pointer;

}


.deletePost .delete:hover {
    color: red;
}