* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.login-container {
    background-image: url("../../assets/images/loginpagebackground.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.sign-up-wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    border-radius: 10px;
    padding: 15px 40px;
}

.sign-up-wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.sign-up-wrapper .signup-input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;

}

.signup-input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.signup-input-box input::placeholder {
    color: #fff;
}

.signup-input-box .i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.sign-up-wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
    margin-top: 1rem;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.sign-up-wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.sign-up-wrapper .signup {
    display: flex;
    justify-content: center;
    font-size: 14.5px;
    margin-top: 20px;
}

.sign-up-wrapper .icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    font-size: 2rem;

}

.sign-up-wrapper .icons a {
    text-decoration: none;
}

.sign-up-wrapper .icons a:hover {
    border-bottom: 2px solid aliceblue;
}

.sign-up-wrapper .icons #f-icon {
    color: darkblue;
}

.sign-up-wrapper .icons #t-icon {
    color: skyblue;
}

.sign-up-wrapper .icons #g-icon {
    color: orangered;
}

.sign-up-wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}