.createpostpage {
    background-image: url("../../assets/images/blue.avif");
    height: calc(100vh);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.cpContainer {
    padding: 20px;
    width: 500px;
    height: auto;
    background-color: black;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}