.createpostpage {
    background-image: url("../../assets/images/blue.avif");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.nav {
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    gap: 20rem;
    z-index: 99;
    box-shadow: 0 0 10px #000000;
    background: rgba(13, 3, 109, 0.836);
    color: white;
}

.logo {
    margin-left: 2rem;
    margin-top: 2rem;

}

.nav .clicks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.nav .clicks a {
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
}

.clicks .btn {
    width: 10rem;
    height: 45px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.4rem;
    color: #333;
    font-weight: 600;
}

.clicks .btn:hover {
    background-color: orangered;
    color: white;
}